@(form: play.data.Form[Facility], sportTypes: List[SportType])
@main("Neue Sportstätte") {
    @helper.form(routes.AdminController.addFacility()) {

        @if(form.hasGlobalErrors) {
            <div class="alert alert-dismissable alert-danger">
                <meta http-equiv="content-type" content="text/html; charset=utf-8">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @form.globalError.message
            </div>
        }

        <form action="@routes.AdminController.addFacility()" method="post" >
            <div class="container">
                <meta http-equiv="content-type" content="text/html; charset=utf-8">
                <h2 align="center"><b>Neue Sportstätte hinzufügen </b></h2> <br>
                @facilityForm(form, sportTypes)
                <br><button type="submit" class="btn btn-primary">Hinzufügen</button>
            </div>
        </form>

    }
}