@(activities: List[Activity])
@import play.mvc.Http.Context.Implicit._
@main(session.get("username") + "s Aktivitäten") {
  <div class="container">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <div class="form-group">
      <h3 align="center"><b>@session.get("username")s Aktivitäten </b></h3> <br><br>
      <ul>
        <div class="list-group">
        @for(activity <- activities) {
            <li class="list-group-item">
                @activity.place.name
                <span class="badge">
                @{
                    val duration = activity.duration()
                    val hours = duration.toHours
                    val minutes = duration.minusHours(hours).toMinutes

                    if(hours > 0) hours.toString + " Stunden " + minutes.toString + " Minuten " + activity.sport
                    else minutes.toString + " Minuten " + activity.sport
                }
                </span>
            </li>
        }
        </div>
      </ul>
    </div>
  </div>


}