@(form: play.data.Form[Facility])
@main("add new Facility") {
    @helper.form(routes.Application.addFacility()) {

        @if(form.hasGlobalErrors) {
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @form.globalError.message
            </div>
        }

        <form action="@routes.Application.addFacility()" method="post" >

            <div class="container">
                <div class="form-group">

                    <h2 align="center"><b>Neue Sportstätte hinzufügen </b></h2> <br><br>

                    <label for="inputName">Bezeichnung</label>
                    <input type="text" class="form-control" name="name" id="inputUsername">
                </div>
                <div class="form-group">
                    <label for="inputAddress">Adresse</label>
                    <input type="text" class="form-control" name="address" id="inputAddress">
                </div>
                <div class="form-group">
                    <label for="inputType">Typ</label>
                    <select class="form-control" name="type" id="inputType">
                        <option>Klettergarten</option>
                        <option>Sportplatz</option>
                        <option>Tennisplatz</option>
                        <option>Schwimmbad</option>
                    </select>
                </div>
                <legend>Welche Sportarten kann man dort betreiben?</legend>
                @for(s <- Sport.values()) {
                    <label class="checkbox-inline"><input type='checkbox' name='possibleSport' value=@s>@s </label>
                    }
                <br><br>
                <legend>Koordinaten (optional)</legend>
                <label for="inputCoordinates">Koordinaten in Grad mit Dezimalstellen</label>
                <div class="form-inline" id="inputCoordinates">
                    <div class="input-group">
                        <span class="input-group-addon">N</span>
                        <input type="text" class="form-control" name="lat" id="inputCoordinateN" placeholder="47.270833">
                        <span class="input-group-addon">°</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">E</span>
                        <input type="text" class="form-control" name="lon" id="inputCoordinateE" placeholder="11.366111">
                        <span class="input-group-addon">°</span>
                    </div>
                </div>
                <br>
                <legend>Öffnungszeiten</legend>
                @timesForm("Montag", "mondayFromArray", "mondayToArray")
                @timesForm("Dienstag", "tuesdayFromArray", "tuesdayToArray")
                @timesForm("Mittwoch", "wednesdayFromArray", "wednesdayToArray")
                @timesForm("Donnerstag", "thursdayFromArray", "thursdayToArray")
                @timesForm("Freitag", "fridayFromArray", "fridayToArray")
                @timesForm("Samstag", "saturdayFromArray", "saturdayToArray")
                @timesForm("Sonntag", "sundayFromArray", "sundayToArray")

                <legend>Preise</legend>
                <label for="inputAdult">Erwachsene</label>
                <div class="input-group">
                    <input type="number" step="any" class="form-control" name="prices.adult" id="inputAdult">
                    <span class="input-group-addon">€</span>
                </div>
                <label for="inputChild">Kinder</label>
                <div class="input-group">
                    <input type="number" step="any" class="form-control" name="prices.child" id="inputChild">
                    <span class="input-group-addon">€</span>
                </div>
                <label for="inputStudent">Studenten</label>
                <div class="input-group">
                    <input type="number" step="any" class="form-control" name="prices.student" id="inputStudent">
                    <span class="input-group-addon">€</span>
                </div>
                <br><br>
                <button type="submit" class="btn btn-primary">Hinzufügen</button>
            </div>

        </form>

    }
}