@(form: play.data.Form[Facility], sportTypes: List[SportType])
@main("edit " + form("name").value()) {
    @helper.form(routes.Application.updateFacility(form("objectid").value().toLong)) {

        @if(form.hasGlobalErrors) {
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @form.globalError.message
            </div>
        }

        <form action="@routes.Application.updateFacility(form("objectid").value().toLong)" method="post" >
            <div class="container">
                @facilityForm(form, sportTypes)
                <button type="submit" class="btn btn-primary">Speichern</button>
            </div>
        </form>

    }
}