@(facility: Facility)
@main(facility.name) {
    <div class="container">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <ul class="list-group">
        <li class="list-group-item">
            <h4>@facility.name</h4>
        </li>
        <li class="list-group-item">
            <b>Adresse:</b><br>
            @facility.address
        </li>
        <li class="list-group-item">
            <b>Typ:</b><br>
            @facility.facilityType
        </li>
        <li class="list-group-item">
            <b>Mögliche Sportarten:</b><br>
            @for(sport <- facility.possibleSport) {
                <span class="label label-primary">
                @sport.description
                </span>
            }
        </li>
        <li class="list-group-item">
            <b>&Ouml;ffnungszeiten:</b><br>
            Montag: @facility.openingHours.monday<br>
            Dienstag: @facility.openingHours.tuesday<br>
            Mittwoch: @facility.openingHours.wednesday<br>
            Donnerstag: @facility.openingHours.thursday<br>
            Freitag: @facility.openingHours.friday<br>
            Samstag: @facility.openingHours.saturday<br>
            Sonntag: @facility.openingHours.sunday
        </li>
        <li class="list-group-item">
            <b>Preise:</b><br>
            Erwachsene: @facility.prices.adult €<br>
            Kinder: @facility.prices.child €<br>
            Studenten: @facility.prices.student €<br>
        </li>
    </ul>
    <a class="btn btn-primary" href="@routes.AdminController.editFacility(facility.objectid)" role="button" id="editBtn">Sportstätte bearbeiten</a>
    </div>
    <br>
    @map(facility.lat, facility.lon)

}

