@main("fit in Innsbruck") {
    <h3><br><br><br></b><div style="text-indent:15px;">Herzlich Willkommen bei <b>FIT IN INNSBRUCK</b></h3><br>
    </div>
    <div style="text-indent:15px;">Mit&nbsp;<b> FIT IN INNSBRUCK </b>&nbsp;gibt man an wann man für wie lange Sport machen will.<br></div>
    <div style="text-indent:15px;">Die App liefert alle Sportmöglichkeiten passend zum aktuellen Wetter und gibt den jeweiligen Kalorienverbrauch an.<br></div>
    <div style="text-indent:15px;">Persönliche Einstellungen und Vorlieben können praktisch als Favoriten abgespeichert werden.</div><br><br>
    <div style="text-indent:15px;">Wählen Sie zwischen<br></div>
    <div style="text-indent:15px;"><a href="login"><input type="button" value="Login" style="color:blue;font-family:Arial;font-size:20px;"></a>
    &nbsp&nbsp<a href="register"><input type="button" value="Register" style="color:blue;font-family:Arial;font-size:20px;"></a>
}