@import be.objectify.deadbolt.java.views.html._
@main("Fit in Innsbruck") {
    @subjectNotPresentOr() {
        <div class="container">
            <meta http-equiv="content-type" content="text/html; charset=utf-8">
            <h3>Herzlich Willkommen bei <b>FIT IN INNSBRUCK</b></h3>
            <p>Mit&nbsp;<b> FIT IN INNSBRUCK </b>&nbsp;gibts keine Ausreden mehr!<br><br></p>
            <p>Wählen Sie zwischen</p>
            <a class="btn btn-primary" href="@routes.Application.login()" role="button" id="signInbtn">Log in</a>
            <a class="btn btn-primary" href="@routes.Application.register()" role="button" id="registerBtn">Registrieren</a>
            <br><br>
        </div>
    }{
        <div class="container">
            <meta http-equiv="content-type" content="text/html; charset=utf-8">
            <h3>Willkommen zurück bei <b>FIT IN INNSBRUCK</b></h3><br>

            <p>Persönliche Daten bearbeiten&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-default btn-sm" href="@routes.Application.editUserForm()" role="button">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
            </p>
            <p>Vergangene Aktivitäten ansehen&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <a class="btn btn-default btn-sm" href="@routes.Application.showActivities()" role="button">
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                </a>
            </p>
            <p>Hier kannst du eine neue Suche starten &emsp;&emsp;&ensp;&ensp;
                <a class="btn btn-default btn-sm" href="@routes.Application.showQueryForm()" role="button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
            </p>
            <p>Und hier gibt es eine Liste ALLER Sportstätten&nbsp;
                <a class="btn btn-default btn-sm" href="@routes.Application.getFacilities()" role="button">
                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                </a>
            </p>
        </div>
    }
    <div class="container">
        <img src="@routes.Assets.at("images/Innsbruck.jpg")">
    </div>
}