@(title: String)(content: Html)
<!DOCTYPE html>
    @import play.mvc.Http.Context.Implicit._
    @import be.objectify.deadbolt.java.views.html._
    @import be.objectify.deadbolt.core.utils.TemplateUtils._

    <html>
        <head>
            <title>@title</title>
            <meta name="viewport" content="width=device-width, initial-scale=1" http-equiv="content-type" content="text/html; charset=utf-8">
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.1/superhero/bootstrap.min.css">
            <link rel="stylesheet" href="@routes.Assets.at("stylesheets/datepicker.css")">
            <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-timepicker.css")">
            <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
            <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">

            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
            <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-timepicker.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/Geocoding.js")"></script>

        </head>

        <body>
            <nav class="navbar navbar-default navbar-fixed-top">
                <meta http-equiv="content-type" content="text/html; charset=utf-8">
                <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@routes.Application.index()">
                            <img height="50" width="50" alt="Brand" src="@routes.Assets.at("images/icon.png")">
                        </a>
                    </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    @subjectPresent() {
                        <ul class="nav navbar-nav">
                            <li><a href="@routes.Application.showQueryForm()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Finde Sportstätte</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;Profil bearbeiten</a></li>
                            <li><a href="@routes.Application.getFacilities()"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;Alle Sportstätten</a></li>
                            @restrict(la(as("admin"))) {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="@routes.AdminController.makeFacilityForm()">Sportstätte hinzufügen</a></li>
                                        <li><a href="@routes.Application.getFacilities()">Sportstätte bearbeiten</a></li>
                                    </ul>
                                </li>

                            }
                        </ul> }

                        @if(session.get("username") != null) {
                            <ul class="nav navbar-nav navbar-right">
                                <p class="navbar-text">
                                    currently logged in as <strong>@session.get("username")</strong></p>
                                <li><a href="@routes.Application.logout()">Logout</a></li>
                            </ul>
                        }
                    </div> <!-- /.navbar-collapse -->
                </div> <!-- /.container-fluid -->
            </nav>

            @content

        </body>
        <script type="text/javascript" charset="utf-8">
        $ ( ".nav a" ).on ( "click", function ( ) {
        $ ( ".nav" ).find ( ".active" ).removeClass ( "active" ) ;
        $ ( this ).parent ( ).addClass ( "active" ) ;
        } ) ;
        </script>

    </html>
