@main("Suche") {

    <form action="@routes.Application.askQuery()" method="post" >

        <div class="container">
            <meta http-equiv="content-type" content="text/html; charset=utf-8">
            <legend>Zeit</legend>

            <div class="form-description">
                <label for="begin">Beginn</label>
                <input type="input" class="form-control" name="begin" id="begin" placeholder="">
            </div>
            <div class="form-description">
                <label for="end">Ende</label>
                <input type="input" class="form-control" name="end" id="end" placeholder="">
            </div>
            <div class="form-description">
                <label for="day">Tag</label>
                <input type="input" class="form-control" name="day" id="day" placeholder="">
            </div>
            <br>
            <label class="checkbox-inline"><input type='checkbox' name='time'>Zeit ist egal </label><br><br>
            <legend>Sportarten</legend>
            @for(s <- SportType.allAsScalaList()) {
                <label class="checkbox-inline"><input type='checkbox' name='sportlist' value=@s.sportID>@s.description </label>
            }
            <br><br>

            <div class="form-description">
                <label for="inout">Einschränkungen</label>
                <select class="form-control" id="inout" name="inout">
                    <option value=INDOOR>Indoor</option>
                    <option value=OUTDOOR>Outdoor</option>
                    <option value=WHATEVER>Egal</option>
                </select>
            </div><br>

            <legend>Kosten</legend>
            <label for="price">maximaler Eintritt</label>
            <div class="input-group">
                <input type="number" step="any" class="form-control" name="pricemax" id="price" placeholder="0,00">
                <span class="input-group-addon">€</span>
            </div><br>

            <legend>Location (möglichst nah bei ...)</legend>
            <label for="inputCoordinates">Koordinaten in Grad mit Dezimalstellen</label>
            <div class="form-inline" id="inputCoordinates">
                <div class="input-group">
                    <span class="input-group-addon">N</span>
                    <input type="text" class="form-control" name="lat" id="inputCoordinateN" placeholder="47.270833">
                    <span class="input-group-addon">°</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">E</span>
                    <input type="text" class="form-control" name="lon" id="inputCoordinateE" placeholder="11.366111">
                    <span class="input-group-addon">°</span>
                </div>
            </div>
            <label for="address">oder Adresse</label>
            <div class="input-group">
                <input type="input" class="form-control" name="address" id="address">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="codeAddress()">Finde Koordinaten</button>
                </span>
            </div><br>


            <button type="submit" class="btn btn-primary">finde Sportstätten</button><br>

            <script type="text/javascript">
            var currentDate = new Date();
            var time1 = currentDate.getHours()+1 + ":" + currentDate.getMinutes();
            $ ( function ( ) {
            $ ( '#end' ).timepicker({showMeridian: false, defaultTime: time1}) ;
            } ) ;
            var time = currentDate.getHours() + ":" + currentDate.getMinutes();
            $ ( function ( ) {
            $ ( '#begin' ).timepicker({showMeridian: false, defaultTime: time}) ;
            } ) ;

            $ ( function ( ) {
            $ ( '#day' ).datepicker ('setValue', currentDate ) ;
            } ) ;
            </script>


        </div>
    </form>

}