@(form: play.data.Form[Athlete])
@main("Registrierung") {
    @helper.form(routes.Application.addUser()) {

        @if(form.hasGlobalErrors) {
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @form.globalError.message
            </div>
        }

        <form action="@routes.Application.addUser()" method="post" >

            <div class="container">
                <div class="form-description">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" name="name" id="inputUsername">
                </div>
                <div class="form-description">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" name="password" id="inputPassword">
                </div>
                <div class="form-description">
                    <label for="inputBirthday">Birthday</label>
                    <input type="text" class="form-control" name="birthday" id="inputBirthday">
                </div>
                <div class="form-description">
                    <label for="inputWeight">Weight</label>
                    <input type="number" class="form-control" name="weight" id="inputWeight">
                </div>
                <div class="form-description">
                    <label for="inputHeight">Height</label>
                    <input type="number" class="form-control" name="height" id="inputHeight">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Register</button>

                <a class="btn btn-default pull-right" href="@routes.Application.login()" role="button" id="signInbtn">
                    Sign in</a>
                <label class="label pull-right" for="signInbtn">Already have an account?</label>
            </div>


            <script type="text/javascript">
            $ ( function ( ) {
            $ ( '#inputBirthday' ).datepicker ( ) ;
            } ) ;
            </script>
        </form>
    }
}